body {
    background-image: url(images/AQUI\ É\ A\ IBABI!.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #1F1E1E;
}

#imgCentral {
    width: 100%;
    height: 35em;
    margin: 0%;
}

#logo {
    background-color: rgb(32, 32, 32);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 6em;
    width: 100%;
    margin: 0%;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.top {
    position: relative;
    left: 34.5em;
    display: inline-block;
    padding-right: 3em;
    top: 0.5em;
    cursor: pointer;
    margin-bottom: 2em;
}

#map {
    position: absolute;
    top: 60em;
    width: 98.5%;
    margin: 0%;
    margin-top: 10px;
    padding: 10px;
}

#every {
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    position: absolute;
    top: 70%;
    bottom: 0%;
    width: 100%;
    height: 40%;
}

footer {
    position: absolute;
    top: 91em;
    width: 100%;
    height: 9em;
    color: white;
    background-color: rgb(20, 20, 20);
}

#fot {
    position: absolute;
    left: 40.5%;
    top: 3.5em;
}

#fot2 {
    text-align: center;
    position: relative;
    top: 3em;
}

#face {
    position: absolute;
    left: 45%;
    padding: 10px;
}

#insta {
    position: absolute;
    right: 45%;
    padding: 10px;
}